<div class="col-lg-8 col-md-10 ml-auto mr-auto">
  <div class="row mb-5">
    <div class="col-md-12">
      <%= form_for(leave_request) do |f| %>
        <% if leave_request.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(leave_request.errors.count, "error") %> prohibited this leave_request from being saved:</h2>

            <ul>
            <% leave_request.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row">
          <div class="form-group col-md-6">
            <%= f.label :commence, class: "col-form-label" %>
            <div class="input-group with-addon-icon-left">
              <%= f.text_field :commence, class: "form-control", id: "datepicker-example-2" %>
              <span class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <%= f.label :end_date, class: "col-form-label" %>
            <div class="input-group with-addon-icon-left">
              <%= f.text_field :end_date, class: "form-control", id: "datepicker-example-1" %>
              <span class="input-group-append">
                <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                </span>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12">
            <%= f.label :reason, class: "col-form-label" %>
            <%= f.text_area :reason, class: "form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit nil, :class => 'btn btn-primary btn-lg d-table ml-auto mr-auto' %>
        </div>

      <% end %>

      <%= link_to 'Back', leave_requests_path, :class => 'btn btn-danger'%>
    </div>
  </div>
</div>

<div class="datepicker datepicker-dropdown dropdown-menu datepicker-orient-left datepicker-orient-bottom" style="top: 5444.48px; left: 651.516px; z-index: 10; display: block;"><div class="datepicker-days" style=""><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">March 2019</th><th class="next">»</th></tr><tr><th class="dow">Su</th><th class="dow">Mo</th><th class="dow">Tu</th><th class="dow">We</th><th class="dow">Th</th><th class="dow">Fr</th><th class="dow">Sa</th></tr></thead><tbody><tr><td class="old day" data-date="1550966400000">24</td><td class="old day" data-date="1551052800000">25</td><td class="old day" data-date="1551139200000">26</td><td class="old day" data-date="1551225600000">27</td><td class="old day" data-date="1551312000000">28</td><td class="day" data-date="1551398400000">1</td><td class="day" data-date="1551484800000">2</td></tr><tr><td class="day" data-date="1551571200000">3</td><td class="day" data-date="1551657600000">4</td><td class="day" data-date="1551744000000">5</td><td class="day" data-date="1551830400000">6</td><td class="day" data-date="1551916800000">7</td><td class="day" data-date="1552003200000">8</td><td class="day" data-date="1552089600000">9</td></tr><tr><td class="day" data-date="1552176000000">10</td><td class="day" data-date="1552262400000">11</td><td class="day" data-date="1552348800000">12</td><td class="day" data-date="1552435200000">13</td><td class="day" data-date="1552521600000">14</td><td class="day" data-date="1552608000000">15</td><td class="day" data-date="1552694400000">16</td></tr><tr><td class="day" data-date="1552780800000">17</td><td class="day" data-date="1552867200000">18</td><td class="day" data-date="1552953600000">19</td><td class="day" data-date="1553040000000">20</td><td class="day" data-date="1553126400000">21</td><td class="day" data-date="1553212800000">22</td><td class="day" data-date="1553299200000">23</td></tr><tr><td class="day" data-date="1553385600000">24</td><td class="day" data-date="1553472000000">25</td><td class="day" data-date="1553558400000">26</td><td class="day" data-date="1553644800000">27</td><td class="day" data-date="1553731200000">28</td><td class="day" data-date="1553817600000">29</td><td class="day" data-date="1553904000000">30</td></tr><tr><td class="day" data-date="1553990400000">31</td><td class="new day" data-date="1554076800000">1</td><td class="new day" data-date="1554163200000">2</td><td class="new day" data-date="1554249600000">3</td><td class="new day" data-date="1554336000000">4</td><td class="new day" data-date="1554422400000">5</td><td class="new day" data-date="1554508800000">6</td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-months" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2019</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="month">Jan</span><span class="month">Feb</span><span class="month focused">Mar</span><span class="month">Apr</span><span class="month">May</span><span class="month">Jun</span><span class="month">Jul</span><span class="month">Aug</span><span class="month">Sep</span><span class="month">Oct</span><span class="month">Nov</span><span class="month">Dec</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-years" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2010-2019</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="year old">2009</span><span class="year">2010</span><span class="year">2011</span><span class="year">2012</span><span class="year">2013</span><span class="year">2014</span><span class="year">2015</span><span class="year">2016</span><span class="year">2017</span><span class="year">2018</span><span class="year focused">2019</span><span class="year new">2020</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-decades" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2000-2090</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="decade old">1990</span><span class="decade">2000</span><span class="decade focused">2010</span><span class="decade">2020</span><span class="decade">2030</span><span class="decade">2040</span><span class="decade">2050</span><span class="decade">2060</span><span class="decade">2070</span><span class="decade">2080</span><span class="decade">2090</span><span class="decade new">2100</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div><div class="datepicker-centuries" style="display: none;"><table class="table-condensed"><thead><tr><th colspan="7" class="datepicker-title" style="display: none;"></th></tr><tr><th class="prev">«</th><th colspan="5" class="datepicker-switch">2000-2900</th><th class="next">»</th></tr></thead><tbody><tr><td colspan="7"><span class="century old">1900</span><span class="century focused">2000</span><span class="century">2100</span><span class="century">2200</span><span class="century">2300</span><span class="century">2400</span><span class="century">2500</span><span class="century">2600</span><span class="century">2700</span><span class="century">2800</span><span class="century">2900</span><span class="century new">3000</span></td></tr></tbody><tfoot><tr><th colspan="7" class="today" style="display: none;">Today</th></tr><tr><th colspan="7" class="clear" style="display: none;">Clear</th></tr></tfoot></table></div></div>