<p id="notice"><%= notice %></p>

<h1>Leave Requests</h1>

<div class="col-md-10 ml-auto mr-auto">
  <table class="table table-striped table-responsive-md">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>

    <tbody>
      <% @leave_requests.each do |leave_request| %>
        <tr>
          <td><%= leave_request.patron.first_name %></td>
          <td><%= leave_request.patron.last_name %></td>
          <td><%= leave_request.commence %></td>
          <td><%= leave_request.end_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Leave Request', new_leave_request_path %>
