<p id="notice"><%= notice %></p>

<h1>Leave Requests</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @leave_requests.each do |leave_request| %>
      <tr>
        <td><%= leave_request.patron.first_name %></td>
        <td><%= leave_request.patron.last_name %></td>
        <td><%= leave_request.commence %></td>
        <td><%= leave_request.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leave Request', new_leave_request_path %>
